.wrapper {
    max-height: 908px;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
}

.input-box input,
.input-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.input-box select {
    cursor: pointer;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: hotpink;
    color: #fff;
    font-size: 16px;
}

.button:hover {
    background-color:  rgb(255, 65, 160);;
}

.login-link {
    text-align: center;
    margin-top: 5px;
}

.login-link p a {
    text-decoration: none;
    font-weight: 600;
}

.login-link p a:hover {
    text-decoration: underline;
}

.error-message {
    color: hotpink; 
    font-size: 14px; 
    margin-bottom: 20px; 
  }
  