.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-content {
    max-width: 800px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #626262;
  }
  
  .about-content p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .about-content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  